/**==============================Table Of Contents Start===========================**/
/**
Font Imports
Owl Carousel
General Class Definitions
Color Classes
Media Queries
**/
/**==============================Table Of Contents End===========================**/

/*-------------------------- Font Imports  Start -------------------------------*/
//@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display:100,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,900&display=swap');
/*-------------------------- Font Imports  End -------------------------------*/

/*-------------------------- Font Class Definitions Start -----------------------*/
.Roboto{
  font-family: 'Roboto', sans-serif!important;
}
.RobotoCondensed{
  font-family: "Roboto Condensed", sans-serif!important;
}
/*-------------------------- Font Class Definitions End -----------------------*/

/*-------------------------- Color Definitions Start---------------------------*/
@black: #000000;
@white: #FFFFFF;
@light-gray-1: #88888C;
@light-gray-2: rgba(85,85,85,0.03);
@light-gray-3: #d8d8d8;
@purple: #3B5998;
@theme_yellow: #FFB800;
@red: #D63229;
@red_2: #C8171D;
.light-gray-1{
  color:@light-gray-1;
}
.light-gray-2-bg{
  background-color:@light-gray-2;
}
.purple{
  color: @purple;
}
.theme-yellow{
  color:@theme_yellow;
}
.red{
  color:@red;
}
/*-------------------------- Color Definitions End---------------------------*/

/*-------------------------- General Tag Definitions Start ---------------------*/
*{
  box-sizing: border-box;
}
html,body{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  .Roboto;
  font-weight:300;
  font-size:14px;
  &.modal-open{
    overflow: hidden;
  }
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover{
  cursor:pointer;
}

input:focus{
  outline:none;
  box-shadow:none!important;
}
/*-------------------------- General Tag Definitions End ---------------------*/

/*-------------------------- General Class Definitions Start --------------------*/
.main-content{
  width:100%;
  height:100%;
}
.main-header {
  padding: 20px 37px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 67px;
  background-color: #fffffff2;
  z-index: 1000;
  .dobule-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:center;
    .dobule-text {
      display:flex;
      justify-content: center;
      .font-20;
      line-height: 1.2;
      letter-spacing: -0.3px;
      margin-left: 10px;
      font-weight: 100;

      &.robotoCondensed {
        .RobotoCondensed;
        .font-14;
      }
    }
  }
}
.content-padding{
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.just-content-padding{
  padding: 0 36px;
}
.hidden{display:none!important;}
.page-content{
  padding-top:67px;
  padding-bottom: 80px;
  &.map{
    padding-bottom: 69px;
  }
}
.first-layer {
  border: 8px solid #ccc;
  border-radius: 42px;
  .second-layer {
    border: 25px solid #2F2F2F;
    border-radius: 33px;
    .mobile-view {
      border: 1px solid #495057;
      border-radius: 30px;
      width: 375px;
      height: 812px;
      margin: -11px;
      iframe {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        box-shadow: none;
        border: 0;
        transition: all 0ms ease;
      }
    }
  }
}
.bottom-menu{
  position: fixed;
  bottom: 0;
  z-index:5000;
  background-color:white;
  display: flex;
  flex-direction: row;
  padding: 0 36px;
  width: 100%;
  height: 68px;
  align-items: center;
  justify-content: space-evenly;
  //border-top:0.5px solid #0000001a;
  //border-top-left-radius: 35px;
  //border-top-right-radius:35px;
  .dashed-border;
  border-radius:37px;
  .menu-btn-container{
    text-align:center;
    padding: 17px;
  }
  .menu-icon-text{
    font-size:10px;
    font-weight:100;
    &.active{
      color: #ff9500;
    }
  }
}
.search-container{
  padding:10px 26px;
  .light-gray-2-bg;
  border-radius:27.5px;
  .search-text{
    border:none;
    padding:0px 0px 0px 6px;
    margin-right: 10px;
    background-color:transparent;
    .Roboto;
    .font-weight-300;
    .font-14;
    &::placeholder{
      color:black;
    }
  }
  .search-icon{
    .vertically_centered;
  }
}
.vertically_centered{
  display: flex;
  align-items: center;
}
.dashed-border{
  border: 10px solid transparent;
  border-image: url(../icons/border.svg);
  border-image-repeat: repeat;
  border-image-slice:13%;
  border-image-width:20px;
  border-image-outset: 0px;
  &.border-width-10{
    border-image-width:10px;
  }
}
.dashed-border-white{
  border: 5px solid transparent;
  border-image: url(../icons/border_white.svg);
  border-image-repeat: repeat;
  border-image-slice: 15%;
  border-image-width: 8px;
  border-image-outset: 0px;
  &.border-width-10{
    border-image-width:10px;
  }
}
.border-divider{
  margin-top:23px;
  margin-bottom:23px;
  border-bottom: 1px solid #F1F3F8;
  &:after {
    content: "";
    display: block;
    width: 49px;
    border: 1px solid @theme_yellow;
  }
  &.border-content-padding{
    margin:23px 36px;
  }
}
.rating {
  float: left;
  font-size: 10px;
  .fas.fa-star {
    color: #8E8E93;
    font-weight:300;
    &.active {
      color: @theme_yellow;
      font-weight:600;
    }
  }
  &.min-width{
    min-width: 67px;
  }
}
.center-all-way{
  display: flex;
  justify-content: center;
  align-items: center;
}
.read-review{
  text-decoration:underline;
  font-size:11px;
  .Roboto;
  font-weight:300;
  .fa-angle-double-right{
    font-size:8px;
  }
  &.up{
    margin-top:-3px;
  }
}
.primary-button{
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @theme_yellow;
  border-radius: 30px;
  position: relative;
  .text{
    .Roboto;
    font-size:15px;
    font-weight:300;
    .bolder-txt{
      font-weight:400;
    }
  }
  .icon{
    position: absolute;
    right: 0;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 0.2px solid @theme_yellow;
    border-radius: 30px;
  }
}
.main-menu{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: #FFB800;
  right: 0;
  bottom: 0;
  .close-icon{
    float:right;
    font-size:16px;
    color: @white;
    padding-right: 35px;
    padding-top: 20px;
  }
  .main-menu-container{
    padding-left: 35px;
    .pic{
      img{
        .dashed-border-white;
        height: 52px;
        width: 52px;
        border-radius: 50%;
      }
    }
    .menu-with-pic{
      margin-top: 13px;
      display: flex;
      justify-content: space-between;
    }
    .info-menu-container{
      width:100%;
      .info-container{
        .RobotoCondensed;
        color:@white;
        .welcome-txt{
          font-weight:300;
          font-size:12px;
        }
        .name{
          font-size:17px;
          font-weight:400;
          text-shadow:0 3px 6px #00000012;
        }
        .dark-txt{
          color:@black;
          font-size:12px;
          font-weight:300;
        }
      }
    }
    .menu-items-container{
      margin-top:60px;
      .menu-item{
        &:not(:first-child){
          margin-top:10px;
        }
        padding:10px 0px;
        .name{
          margin-left: 13px;
          color: @white;
          font-size: 16px;
          font-weight: 300;
          .RobotoCondensed;
        }
        .dark-icon{
          display:none;
        }
        &:hover{
          margin-left: 10px;
          .dark-icon{
            display:inline;
          }
          .white-icon{
            display:none;
          }
          .name{
            color:@black;
          }
        }
      }
    }
  }
  .logout{
    padding-left:35px;
    .name{
      margin-left: 13px;
      color: @white;
      font-size: 16px;
      font-weight: 300;
      .RobotoCondensed;
    }
    .dark-icon{
      display:none;
    }
    &:hover{
      margin-left: 10px;
      .dark-icon{
        display:inline;
      }
      .white-icon{
        display:none;
      }
      .name{
        color:@black;
      }
    }
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
  input{
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: @white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
  border: 2px solid #E5E5E5;
  &:before{
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    left: 1px;
    bottom: 1px;
    background-color: @white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
    box-shadow: 2px 2px 4px 1px #c5c5c5ad;
  }
}
input:checked + .slider {
  background-color: @theme_yellow;
  border:2px solid @theme_yellow;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  box-shadow:none;
}
/*-------------------------- General Class Definitions End ----------------*/

/*-------------------------- Food Categories Page Start -------------------*/
.discover-food-container{
  margin-top:15px;
  .RobotoCondensed;
  .title-wrapper{
    display: flex;
    justify-content: space-between;
    .title{
      font-size:24px;

    }
    .fa-ellipsis-h{
      font-size:23px;
      .purple;
    }
  }
  .secondary-text{
    .font-weight-300;
    font-size:13px;
    .icon-edit{
      margin-left:15px;
    }
  }
}
.food-delivery-options-container{
  margin-top:25px;
  .delivery-row{
    &:not(:first-child){
      margin-top:15px;
    }
    display: flex;
    justify-content: space-between;
    .delivery-option-left{
      position:relative;
      padding: 24px 0px 0px 18px;
      width: 50%;
      margin-right: 10px;
      height: 146px;
      &:hover{
        cursor:pointer;
      }
      .dashed-border;
      img{
        height: 43px;
      }
      .delivery-option-light{
        position: absolute;
        top: -5px;
        background-color: @theme_yellow;
        padding: 24px 0px 0px 18px;
        left: 0px;
        right: -16px;
        height: 146px;
        color: @white;
        border-radius: 27.5px;
        box-shadow: 0 15px 30px #00000020;
        img{
          height:43px;
        }
      }
    }
    .delivery-option-right{
      position:relative;
      padding: 24px 0px 0px 18px;
      width: 50%;
      height: 146px;
      &:hover{
        cursor:pointer;
      }
      .dashed-border;
      img{
        height: 43px;
      }
      .delivery-option-light{
        position: absolute;
        top: -5px;
        background-color: @theme_yellow;
        padding: 24px 0px 0px 18px;
        left: -16px;
        right: 0px;
        height: 146px;
        color: white;
        border-radius: 27.5px;
        box-shadow: 0 10px 30px #00000020;
        img{
          height:43px;
        }
      }
    }
  }
}
.browse-by-cuisine,
.top-categories,
.top-rated,
.local-favorites,
.foo-door-deals,
.best-sellers,
.fast-foods,
.restaurant-info{
  .title-container{
    .title-text{
      flex:1;
      .title{
        margin-left: 5px;
        .RobotoCondensed;
        font-weight:400;
        font-size: 20px;
        font-stretch: condensed;
        line-height: 1.2;
        color:@black;
      }
      img{
        width: 20px;
        height: 20px;
        margin-top: -5px;
      }
    }
  }
  .add-to-cart{
    margin-top: -2px;
  }
}
.intro-text{
  font-size: 14px;
  font-weight: 100;
  line-height: 1.14;
  color:@black;
  opacity:0.6;
  margin-top:17px;
  &.margin-bottom{
    margin-bottom:17px;
  }
}
.fast-foods{
  .item{
    padding-bottom: 10px;
    &:not(:first-child){
      margin-top:15px;
    }
    &:not(:last-child){
      border-bottom: 0.5px solid @light-gray-3;
    }
  }
}
.show-all{
   .RobotoCondensed;
   font-size: 12px;
   font-weight: 300;
   font-stretch: condensed;
   line-height: 1.17;
   letter-spacing: -0.12px;
   text-align: left;
   a {
     color: #4d4d4d;
   }
   display:flex;
   align-items:center;
   &.Roboto{
     .Roboto;
   }
}
.category-listing{
  margin-top: 10px;
  .category-item{
    padding: 12px 0px;
    border-bottom: 1px solid #f1f3f8;
    .text{
      display: flex;
      align-items: center;
      .RobotoCondensed;
      font-size:14px;
      line-height: 1.14;
      letter-spacing: -0.14px;
      font-weight:300;
    }
    .icon{
      margin-top: -8px;
    }
    &:last-child{
      border-bottom:0;
    }
    &:hover{
      cursor:pointer;
    }
  }
  &.last-child-visible{
    .category-item:last-child{
      border-bottom: 1px solid #f1f3f8;
    }
  }
  a .category-item{
    border-bottom: 1px solid #f1f3f8!important;
  }
}
.slider-settings{
  &.owl-theme .owl-controls{
    margin-top:20px;
  }
  &.owl-theme .owl-controls .owl-page span{
    width: 8px;
    height:8px;
  }
  .item {
    margin-right: 10px;
    .pic-item{
      position:relative;
    }
  }
  img {
      display: block;
      width: 100%;
      height: auto;
    }
  .item-text{
    margin-top:5px;
    .main-title{
      .RobotoCondensed;
      font-weight:400;
      font-size: 16px;
      color:@black;
    }
    .secondary-text {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      .Roboto;
      font-size: 11px;
      color:@black;
      font-weight: 300;
    }
  }
  .owl-controls{
    display:none!important;
  }
}
#top-categories-carousel{
  padding-top: 18px;
  .item {
    margin-right:10px;
    .pic-item {
      height: 88px;
      width: 88px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .label{
      margin-top:10px;
      .RobotoCondensed;
      .font-16;
      font-weight:400;
    }
    .sub-text{
      .Roboto;
      font-weight:300;
      .font-11;
    }
    img {
      height: 43px;
    }
  }
}
#buttons-slider{
  margin-top:20px;
  .owl-item{
    width:auto!important;
  }
  .button-item{
    position:relative;
    button {
      &.active,
      &:hover{
        background-color: @theme_yellow;
        font-weight:400;
        border:1px solid @theme_yellow;
      }
      font-weight:300;
      background-color:white;
      border-radius: 22px;
      display:flex;
      justify-content: center;
      align-items:center;
      color: @black;
      padding: 4px 10px;
      .RobotoCondensed;
      border:1px solid @black;
      font-size:10px;
      .fa-star {
        margin-left:5px;
        margin-top:-2px;
        font-size: 7px;
      }
    }
  }
}
#top-rated-carousel,
#local-favorites-carousel{
  margin-top:20px;
  padding-left: 36px;
  img{
    width:125px;
  }
  .owl-item{
    width:150px!important;
  }
}
#foodoor-deals-carousel,
#best-sellers-carousel{
  margin-top:20px;
  padding-left: 36px;
  img{
    width:260px;
  }
  .owl-item{
    width:285px!important;
  }
  .item-text{
    padding-right: 17px;
  }
}
.owl-lazy img{
  margin:0 auto;
  display:flex;
}
/*-------------------------- Food Categories Page End ---------------------*/

/*-------------------------- View On Map Page Start -----------------------*/

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
  background:none !important;
}
.gm-bundled-control.gm-bundled-control-on-bottom{display:none;}

.open_shipper{
  position: absolute;
  z-index: 100;
  top: 25px;
  left: 36px;
}
.gm-style .gm-style-iw-c{
  padding:0px;
}
.dialog1,
.dialog2{
  height: 59px;
  .absolute-container{
    display: flex;
    height: 100%;
    .image{
      width: 85px;
      img{
        height: 71px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
      }
    }
    .text-wrapper{
      flex-direction: column;
      margin-left: 39px;
      justify-content: flex-end!important;
    }
    .text{
      .title{
        font-weight: 400;
      }
      .address{

      }
    }
  }
}
.dialog2{
  height:42px;
  .absolute-container {
    .image {
      width:68px;
      img {
        height: 54px;
      }
    }
  }
}
.shipper{
  position: absolute;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 264px;
  padding-bottom: 50px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  transition: height 0.4s ease-out;
  &.full-height{
    height:492px;
  }
  .profile-picture{
    margin-left: -37px;
    margin-top: -33px;
    position: absolute;
    left: 50%;
  }
  .profile-picture .dashed-border{
      border-radius: 30px !important;
  }
  .white-bg-container{
    background-color: @white;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding: 0 36px;
    padding-top: 36px;
  }
  .dashed-border{
    border: 5px solid transparent;
    border-image: url(../icons/border.svg);
    border-image-repeat: repeat;
    border-image-slice: 10%;
    border-image-width: 19px;
    border-image-outset: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
  }
  .dashed-border-bottom{
    //@TODO - REPLACE BORDER DASHED WITH NICE BORDER BOTTOM PICTURE
    //border-bottom: 5px solid transparent;
    //border-image: url(../icons/border-dashed-bottom.svg);
    //border-image-repeat: repeat;
    //border-image-slice: 10%;
    //border-image-width: 19px;
    //border-image-outset: 0px;
    border-bottom:1px solid grey;
  }
  .intro-info{
    .title-container{
      flex-direction: column;
      justify-content: center;
      display: flex;
      margin-top: -44px;
      align-items: center;
      .title{
        .RobotoCondensed;
        font-weight:300;
        font-size:13px;
      }
      .name{
        .RobotoCondensed;
        font-size:20px;
        font-weight:400;
      }
    }
  }
  .invoice-info{
    display: flex;
    margin-top: -18px;
    justify-content: center;
    .Roboto;
    font-weight:100;
    font-size:13px;
    span{
      font-weight:400;
    }
  }
  .icons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    .icon{
      text-align: center;
    }
    .RobotoCondensed;
    font-weight:100;
    padding-bottom:20px;
    font-size:10px;
  }
  .btn-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    .btn{
      width: 50%;
      padding: 16px;
      text-align: center;
      border-radius: 35px;
    }
    .msg-btn{
      margin-right:10px;
      border: 1px solid @purple;
    }
    .call-btn{
      margin-left:10px;
      border:1px solid @red;
    }
  }
  .title-container{
    .sub-text{
      .RobotoCondensed;
      font-weight:200;
      font-size:14px;
    }
    padding-bottom:20px;
  }
  .calculation-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item-info-container{
    margin-bottom: 100px;
    .item {
      .RobotoCondensed;
      font-weight:100;
      font-size:14px;
      .count {
        margin-right:20px;
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
}
/*-------------------------- View On Map Page End -------------------------*/

/*-------------------------- Single Page Restaurant Start -----------------*/
.facts-listing{
  margin-top:15px;
  .fact-item{
    &:not(:first-child){
      margin-left:15px;
    }
    .main-text{
      .RobotoCondensed;
      .font-11;
      .font-weight-300;
      color:@black;
    }
  }
}
.menu-listing-container{
  .menu-item{
    margin-top:20px;
    .dashed-border;
    padding: 5px 10px;
    .title{
      .RobotoCondensed;
      font-weight:400;
      font-size:14px;
    }
    .description{
      .intro-text;
      .font-11;
    }
    .more{
      margin-top:15px;
      display:flex;
      justify-content: space-between;
      align-items: center;
      .description{
        margin-top:0px;
      }
      .image{
        display:flex;
        align-items:center;
        margin-left:30px;
        img{
          height:80px;
          width:80px;
        }
      }
    }
    &.row-view{
      display:flex;
      .rating{
        margin-top:-3px;
        .fa-star{
          font-size:7px;
        }
      }
      .title{
        font-size:13px;
      }
      .description{
        .font-12;
      }
      .price{
        font-weight:900;
        .RobotoCondensed;
        font-size:13px;
      }
      .info-container{
        width:100%;
        margin-left:20px;
      }
      .image{
        display:flex;
        align-items:center;
        img {
          max-width: 62px;
          max-height: 66px;
        }
      }
    }
  }
}
.single-product{
  height:206px;
  width:219px;
}
.product-description{
  .dashed-border;
  padding: 5px 10px;
  &:first-child{
    margin-top:50px;
  }
  &.margin-18{
    margin-top:18px;
  }
  .title{
    .RobotoCondensed;
    font-weight:400;
    font-size:25px;
  }
  .description{
    .Roboto;
    text-align:center;
    font-size:13px;
    font-weight:300;
  }
}
.price-counter{
  margin-top:18px;
  padding:0 20px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  .price{
    color:@red_2;
    .RobotoCondensed;
    font-size:25px;
    font-weight:900;
  }
  .counter{
    .minus,
    .plus{
      padding:0px 5px;
      cursor:pointer;
    }
    .quantity{
      padding: 0px 5px;
    }
    .RobotoCondensed;
    font-size:16px;
    font-weight:400;
  }
}
/*-------------------------- Single Page Restaurant End -------------------*/

/**-------------------------- Owl Carousel Start --------------------------*/
.owl-lazy img{
  margin:0 auto;
  display:flex;
}
/**-------------------------- Owl Carousel End --------------------------*/

/**-------------------------- Reusable Classes Start ---------------------*/
.line-height-1{line-height:1;}
.line-height-20{line-height:20px;}
.padding-0{padding:0!important;}
.padding-left-20{padding-left:20px!important;}
.margin-top-5{margin-top:5px!important}
.margin-top-10{margin-top:10px;}
.margin-top-15{margin-top:15px;}
.margin-top-20{margin-top:20px;}
.margin-top-25{margin-top:25px;}
.margin-top-30{margin-top:30px;}
.margin-top-35{margin-top:35px;}
.margin-top-40{margin-top:40px;}
.margin-top-60{margin-top:60px;}
.margin-bottom-10{margin-bottom:10px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-left-5{margin-left:5px;}
.margin-left-10{margin-left:10px;}
.margin-left-20{margin-left:20px;}
.font-9{font-size:9px;}
.font-10{font-size:10px;}
.font-11{font-size:11px;}
.font-12{font-size:12px;}
.font-13{font-size:13px;}
.font-14{font-size:14px;}
.font-15{font-size:15px;}
.font-16{font-size:16px;}
.font-20{font-size:20px;}
.font-weight-500{font-weight:500!important;}
.font-weight-300{font-weight:300;}
.font-weight-100{font-weight:100;}
.opacity-30{opacity:0.3;}
.border-radius-7{border-radius:7px;}
.border-50{border-radius:50%;}
/**-------------------------- Reusable Classes End ---------------------*/
