/**==============================Table Of Contents Start===========================**/
/**
Font Imports
Owl Carousel
General Class Definitions
Color Classes
Media Queries
**/
/**==============================Table Of Contents End===========================**/
/*-------------------------- Font Imports  Start -------------------------------*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCQYag.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CA.ttf) format('truetype');
}
/*-------------------------- Font Imports  End -------------------------------*/
/*-------------------------- Font Class Definitions Start -----------------------*/
.Roboto {
  font-family: 'Roboto', sans-serif !important;
}
.RobotoCondensed {
  font-family: "Roboto Condensed", sans-serif !important;
}
/*-------------------------- Font Class Definitions End -----------------------*/
/*-------------------------- Color Definitions Start---------------------------*/
.light-gray-1 {
  color: #88888C;
}
.light-gray-2-bg {
  background-color: rgba(85, 85, 85, 0.03);
}
.purple {
  color: #3B5998;
}
.theme-yellow {
  color: #FFB800;
}
.red {
  color: #D63229;
}
/*-------------------------- Color Definitions End---------------------------*/
/*-------------------------- General Tag Definitions Start ---------------------*/
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  font-size: 14px;
}
html.modal-open,
body.modal-open {
  overflow: hidden;
}
a:link,
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  cursor: pointer;
}
input:focus {
  outline: none;
  box-shadow: none!important;
}
/*-------------------------- General Tag Definitions End ---------------------*/
/*-------------------------- General Class Definitions Start --------------------*/
.main-content {
  width: 100%;
  height: 100%;
}
.main-header {
  padding: 20px 37px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 67px;
  background-color: #fffffff2;
  z-index: 1000;
}
.main-header .dobule-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header .dobule-logo .dobule-text {
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.3px;
  margin-left: 10px;
  font-weight: 100;
}
.main-header .dobule-logo .dobule-text.robotoCondensed {
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 14px;
}
.content-padding {
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.just-content-padding {
  padding: 0 36px;
}
.hidden {
  display: none!important;
}
.page-content {
  padding-top: 67px;
  padding-bottom: 80px;
}
.page-content.map {
  padding-bottom: 69px;
}
.first-layer {
  border: 8px solid #ccc;
  border-radius: 42px;
}
.first-layer .second-layer {
  border: 25px solid #2F2F2F;
  border-radius: 33px;
}
.first-layer .second-layer .mobile-view {
  border: 1px solid #495057;
  border-radius: 30px;
  width: 375px;
  height: 812px;
  margin: -11px;
}
.first-layer .second-layer .mobile-view iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: none;
  border: 0;
  transition: all 0ms ease;
}
.bottom-menu {
  position: fixed;
  bottom: 0;
  z-index: 5000;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 0 36px;
  width: 100%;
  height: 68px;
  align-items: center;
  justify-content: space-evenly;
  border: 10px solid transparent;
  border-image: url(../icons/border.svg);
  border-image-repeat: repeat;
  border-image-slice: 13%;
  border-image-width: 20px;
  border-image-outset: 0px;
  border-radius: 37px;
}
.bottom-menu.border-width-10 {
  border-image-width: 10px;
}
.bottom-menu .menu-btn-container {
  text-align: center;
  padding: 17px;
}
.bottom-menu .menu-icon-text {
  font-size: 10px;
  font-weight: 100;
}
.bottom-menu .menu-icon-text.active {
  color: #ff9500;
}
.search-container {
  padding: 10px 26px;
  background-color: rgba(85, 85, 85, 0.03);
  border-radius: 27.5px;
}
.search-container .search-text {
  border: none;
  padding: 0px 0px 0px 6px;
  margin-right: 10px;
  background-color: transparent;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  font-size: 14px;
}
.search-container .search-text::placeholder {
  color: black;
}
.search-container .search-icon {
  display: flex;
  align-items: center;
}
.vertically_centered {
  display: flex;
  align-items: center;
}
.dashed-border {
  border: 10px solid transparent;
  border-image: url(../icons/border.svg);
  border-image-repeat: repeat;
  border-image-slice: 13%;
  border-image-width: 20px;
  border-image-outset: 0px;
}
.dashed-border.border-width-10 {
  border-image-width: 10px;
}
.dashed-border-white {
  border: 5px solid transparent;
  border-image: url(../icons/border_white.svg);
  border-image-repeat: repeat;
  border-image-slice: 15%;
  border-image-width: 8px;
  border-image-outset: 0px;
}
.dashed-border-white.border-width-10 {
  border-image-width: 10px;
}
.border-divider {
  margin-top: 23px;
  margin-bottom: 23px;
  border-bottom: 1px solid #F1F3F8;
}
.border-divider:after {
  content: "";
  display: block;
  width: 49px;
  border: 1px solid #FFB800;
}
.border-divider.border-content-padding {
  margin: 23px 36px;
}
.rating {
  float: left;
  font-size: 10px;
}
.rating .fas.fa-star {
  color: #8E8E93;
  font-weight: 300;
}
.rating .fas.fa-star.active {
  color: #FFB800;
  font-weight: 600;
}
.rating.min-width {
  min-width: 67px;
}
.center-all-way {
  display: flex;
  justify-content: center;
  align-items: center;
}
.read-review {
  text-decoration: underline;
  font-size: 11px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}
.read-review .fa-angle-double-right {
  font-size: 8px;
}
.read-review.up {
  margin-top: -3px;
}
.primary-button {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFB800;
  border-radius: 30px;
  position: relative;
}
.primary-button .text {
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
  font-weight: 300;
}
.primary-button .text .bolder-txt {
  font-weight: 400;
}
.primary-button .icon {
  position: absolute;
  right: 0;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 0.2px solid #FFB800;
  border-radius: 30px;
}
.main-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: #FFB800;
  right: 0;
  bottom: 0;
}
.main-menu .close-icon {
  float: right;
  font-size: 16px;
  color: #FFFFFF;
  padding-right: 35px;
  padding-top: 20px;
}
.main-menu .main-menu-container {
  padding-left: 35px;
}
.main-menu .main-menu-container .pic img {
  border: 5px solid transparent;
  border-image: url(../icons/border_white.svg);
  border-image-repeat: repeat;
  border-image-slice: 15%;
  border-image-width: 8px;
  border-image-outset: 0px;
  height: 52px;
  width: 52px;
  border-radius: 50%;
}
.main-menu .main-menu-container .pic img.border-width-10 {
  border-image-width: 10px;
}
.main-menu .main-menu-container .menu-with-pic {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
}
.main-menu .main-menu-container .info-menu-container {
  width: 100%;
}
.main-menu .main-menu-container .info-menu-container .info-container {
  font-family: "Roboto Condensed", sans-serif !important;
  color: #FFFFFF;
}
.main-menu .main-menu-container .info-menu-container .info-container .welcome-txt {
  font-weight: 300;
  font-size: 12px;
}
.main-menu .main-menu-container .info-menu-container .info-container .name {
  font-size: 17px;
  font-weight: 400;
  text-shadow: 0 3px 6px #00000012;
}
.main-menu .main-menu-container .info-menu-container .info-container .dark-txt {
  color: #000000;
  font-size: 12px;
  font-weight: 300;
}
.main-menu .main-menu-container .menu-items-container {
  margin-top: 60px;
}
.main-menu .main-menu-container .menu-items-container .menu-item {
  padding: 10px 0px;
}
.main-menu .main-menu-container .menu-items-container .menu-item:not(:first-child) {
  margin-top: 10px;
}
.main-menu .main-menu-container .menu-items-container .menu-item .name {
  margin-left: 13px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto Condensed", sans-serif !important;
}
.main-menu .main-menu-container .menu-items-container .menu-item .dark-icon {
  display: none;
}
.main-menu .main-menu-container .menu-items-container .menu-item:hover {
  margin-left: 10px;
}
.main-menu .main-menu-container .menu-items-container .menu-item:hover .dark-icon {
  display: inline;
}
.main-menu .main-menu-container .menu-items-container .menu-item:hover .white-icon {
  display: none;
}
.main-menu .main-menu-container .menu-items-container .menu-item:hover .name {
  color: #000000;
}
.main-menu .logout {
  padding-left: 35px;
}
.main-menu .logout .name {
  margin-left: 13px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto Condensed", sans-serif !important;
}
.main-menu .logout .dark-icon {
  display: none;
}
.main-menu .logout:hover {
  margin-left: 10px;
}
.main-menu .logout:hover .dark-icon {
  display: inline;
}
.main-menu .logout:hover .white-icon {
  display: none;
}
.main-menu .logout:hover .name {
  color: #000000;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
  border: 2px solid #E5E5E5;
}
.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 1px;
  bottom: 1px;
  background-color: #FFFFFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 2px 2px 4px 1px #c5c5c5ad;
}
input:checked + .slider {
  background-color: #FFB800;
  border: 2px solid #FFB800;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  box-shadow: none;
}
/*-------------------------- General Class Definitions End ----------------*/
/*-------------------------- Food Categories Page Start -------------------*/
.discover-food-container {
  margin-top: 15px;
  font-family: "Roboto Condensed", sans-serif !important;
}
.discover-food-container .title-wrapper {
  display: flex;
  justify-content: space-between;
}
.discover-food-container .title-wrapper .title {
  font-size: 24px;
}
.discover-food-container .title-wrapper .fa-ellipsis-h {
  font-size: 23px;
  color: #3B5998;
}
.discover-food-container .secondary-text {
  font-weight: 300;
  font-size: 13px;
}
.discover-food-container .secondary-text .icon-edit {
  margin-left: 15px;
}
.food-delivery-options-container {
  margin-top: 25px;
}
.food-delivery-options-container .delivery-row {
  display: flex;
  justify-content: space-between;
}
.food-delivery-options-container .delivery-row:not(:first-child) {
  margin-top: 15px;
}
.food-delivery-options-container .delivery-row .delivery-option-left {
  position: relative;
  padding: 24px 0px 0px 18px;
  width: 50%;
  margin-right: 10px;
  height: 146px;
  border: 10px solid transparent;
  border-image: url(../icons/border.svg);
  border-image-repeat: repeat;
  border-image-slice: 13%;
  border-image-width: 20px;
  border-image-outset: 0px;
}
.food-delivery-options-container .delivery-row .delivery-option-left:hover {
  cursor: pointer;
}
.food-delivery-options-container .delivery-row .delivery-option-left.border-width-10 {
  border-image-width: 10px;
}
.food-delivery-options-container .delivery-row .delivery-option-left img {
  height: 43px;
}
.food-delivery-options-container .delivery-row .delivery-option-left .delivery-option-light {
  position: absolute;
  top: -5px;
  background-color: #FFB800;
  padding: 24px 0px 0px 18px;
  left: 0px;
  right: -16px;
  height: 146px;
  color: #FFFFFF;
  border-radius: 27.5px;
  box-shadow: 0 15px 30px #00000020;
}
.food-delivery-options-container .delivery-row .delivery-option-left .delivery-option-light img {
  height: 43px;
}
.food-delivery-options-container .delivery-row .delivery-option-right {
  position: relative;
  padding: 24px 0px 0px 18px;
  width: 50%;
  height: 146px;
  border: 10px solid transparent;
  border-image: url(../icons/border.svg);
  border-image-repeat: repeat;
  border-image-slice: 13%;
  border-image-width: 20px;
  border-image-outset: 0px;
}
.food-delivery-options-container .delivery-row .delivery-option-right:hover {
  cursor: pointer;
}
.food-delivery-options-container .delivery-row .delivery-option-right.border-width-10 {
  border-image-width: 10px;
}
.food-delivery-options-container .delivery-row .delivery-option-right img {
  height: 43px;
}
.food-delivery-options-container .delivery-row .delivery-option-right .delivery-option-light {
  position: absolute;
  top: -5px;
  background-color: #FFB800;
  padding: 24px 0px 0px 18px;
  left: -16px;
  right: 0px;
  height: 146px;
  color: white;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px #00000020;
}
.food-delivery-options-container .delivery-row .delivery-option-right .delivery-option-light img {
  height: 43px;
}
.browse-by-cuisine .title-container .title-text,
.top-categories .title-container .title-text,
.top-rated .title-container .title-text,
.local-favorites .title-container .title-text,
.foo-door-deals .title-container .title-text,
.best-sellers .title-container .title-text,
.fast-foods .title-container .title-text,
.restaurant-info .title-container .title-text {
  flex: 1;
}
.browse-by-cuisine .title-container .title-text .title,
.top-categories .title-container .title-text .title,
.top-rated .title-container .title-text .title,
.local-favorites .title-container .title-text .title,
.foo-door-deals .title-container .title-text .title,
.best-sellers .title-container .title-text .title,
.fast-foods .title-container .title-text .title,
.restaurant-info .title-container .title-text .title {
  margin-left: 5px;
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: 400;
  font-size: 20px;
  font-stretch: condensed;
  line-height: 1.2;
  color: #000000;
}
.browse-by-cuisine .title-container .title-text img,
.top-categories .title-container .title-text img,
.top-rated .title-container .title-text img,
.local-favorites .title-container .title-text img,
.foo-door-deals .title-container .title-text img,
.best-sellers .title-container .title-text img,
.fast-foods .title-container .title-text img,
.restaurant-info .title-container .title-text img {
  width: 20px;
  height: 20px;
  margin-top: -5px;
}
.browse-by-cuisine .add-to-cart,
.top-categories .add-to-cart,
.top-rated .add-to-cart,
.local-favorites .add-to-cart,
.foo-door-deals .add-to-cart,
.best-sellers .add-to-cart,
.fast-foods .add-to-cart,
.restaurant-info .add-to-cart {
  margin-top: -2px;
}
.intro-text {
  font-size: 14px;
  font-weight: 100;
  line-height: 1.14;
  color: #000000;
  opacity: 0.6;
  margin-top: 17px;
}
.intro-text.margin-bottom {
  margin-bottom: 17px;
}
.fast-foods .item {
  padding-bottom: 10px;
}
.fast-foods .item:not(:first-child) {
  margin-top: 15px;
}
.fast-foods .item:not(:last-child) {
  border-bottom: 0.5px solid #d8d8d8;
}
.show-all {
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 12px;
  font-weight: 300;
  font-stretch: condensed;
  line-height: 1.17;
  letter-spacing: -0.12px;
  text-align: left;
  display: flex;
  align-items: center;
}
.show-all a {
  color: #4d4d4d;
}
.show-all.Roboto {
  font-family: 'Roboto', sans-serif !important;
}
.category-listing {
  margin-top: 10px;
}
.category-listing .category-item {
  padding: 12px 0px;
  border-bottom: 1px solid #f1f3f8;
}
.category-listing .category-item .text {
  display: flex;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.14px;
  font-weight: 300;
}
.category-listing .category-item .icon {
  margin-top: -8px;
}
.category-listing .category-item:last-child {
  border-bottom: 0;
}
.category-listing .category-item:hover {
  cursor: pointer;
}
.category-listing.last-child-visible .category-item:last-child {
  border-bottom: 1px solid #f1f3f8;
}
.category-listing a .category-item {
  border-bottom: 1px solid #f1f3f8 !important;
}
.slider-settings.owl-theme .owl-controls {
  margin-top: 20px;
}
.slider-settings.owl-theme .owl-controls .owl-page span {
  width: 8px;
  height: 8px;
}
.slider-settings .item {
  margin-right: 10px;
}
.slider-settings .item .pic-item {
  position: relative;
}
.slider-settings img {
  display: block;
  width: 100%;
  height: auto;
}
.slider-settings .item-text {
  margin-top: 5px;
}
.slider-settings .item-text .main-title {
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.slider-settings .item-text .secondary-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-family: 'Roboto', sans-serif !important;
  font-size: 11px;
  color: #000000;
  font-weight: 300;
}
.slider-settings .owl-controls {
  display: none!important;
}
#top-categories-carousel {
  padding-top: 18px;
}
#top-categories-carousel .item {
  margin-right: 10px;
}
#top-categories-carousel .item .pic-item {
  height: 88px;
  width: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#top-categories-carousel .item .label {
  margin-top: 10px;
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
}
#top-categories-carousel .item .sub-text {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  font-size: 11px;
}
#top-categories-carousel .item img {
  height: 43px;
}
#buttons-slider {
  margin-top: 20px;
}
#buttons-slider .owl-item {
  width: auto!important;
}
#buttons-slider .button-item {
  position: relative;
}
#buttons-slider .button-item button {
  font-weight: 300;
  background-color: white;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  padding: 4px 10px;
  font-family: "Roboto Condensed", sans-serif !important;
  border: 1px solid #000000;
  font-size: 10px;
}
#buttons-slider .button-item button.active,
#buttons-slider .button-item button:hover {
  background-color: #FFB800;
  font-weight: 400;
  border: 1px solid #FFB800;
}
#buttons-slider .button-item button .fa-star {
  margin-left: 5px;
  margin-top: -2px;
  font-size: 7px;
}
#top-rated-carousel,
#local-favorites-carousel {
  margin-top: 20px;
  padding-left: 36px;
}
#top-rated-carousel img,
#local-favorites-carousel img {
  width: 125px;
}
#top-rated-carousel .owl-item,
#local-favorites-carousel .owl-item {
  width: 150px!important;
}
#foodoor-deals-carousel,
#best-sellers-carousel {
  margin-top: 20px;
  padding-left: 36px;
}
#foodoor-deals-carousel img,
#best-sellers-carousel img {
  width: 260px;
}
#foodoor-deals-carousel .owl-item,
#best-sellers-carousel .owl-item {
  width: 285px!important;
}
#foodoor-deals-carousel .item-text,
#best-sellers-carousel .item-text {
  padding-right: 17px;
}
.owl-lazy img {
  margin: 0 auto;
  display: flex;
}
/*-------------------------- Food Categories Page End ---------------------*/
/*-------------------------- View On Map Page Start -----------------------*/
.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}
.gmnoprint div {
  background: none !important;
}
.gm-bundled-control.gm-bundled-control-on-bottom {
  display: none;
}
.open_shipper {
  position: absolute;
  z-index: 100;
  top: 25px;
  left: 36px;
}
.gm-style .gm-style-iw-c {
  padding: 0px;
}
.dialog1,
.dialog2 {
  height: 59px;
}
.dialog1 .absolute-container,
.dialog2 .absolute-container {
  display: flex;
  height: 100%;
}
.dialog1 .absolute-container .image,
.dialog2 .absolute-container .image {
  width: 85px;
}
.dialog1 .absolute-container .image img,
.dialog2 .absolute-container .image img {
  height: 71px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.dialog1 .absolute-container .text-wrapper,
.dialog2 .absolute-container .text-wrapper {
  flex-direction: column;
  margin-left: 39px;
  justify-content: flex-end !important;
}
.dialog1 .absolute-container .text .title,
.dialog2 .absolute-container .text .title {
  font-weight: 400;
}
.dialog2 {
  height: 42px;
}
.dialog2 .absolute-container .image {
  width: 68px;
}
.dialog2 .absolute-container .image img {
  height: 54px;
}
.shipper {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 264px;
  padding-bottom: 50px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  transition: height 0.4s ease-out;
}
.shipper.full-height {
  height: 492px;
}
.shipper .profile-picture {
  margin-left: -37px;
  margin-top: -33px;
  position: absolute;
  left: 50%;
}
.shipper .profile-picture .dashed-border {
  border-radius: 30px !important;
}
.shipper .white-bg-container {
  background-color: #FFFFFF;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding: 0 36px;
  padding-top: 36px;
}
.shipper .dashed-border {
  border: 5px solid transparent;
  border-image: url(../icons/border.svg);
  border-image-repeat: repeat;
  border-image-slice: 10%;
  border-image-width: 19px;
  border-image-outset: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: white;
}
.shipper .dashed-border-bottom {
  border-bottom: 1px solid grey;
}
.shipper .intro-info .title-container {
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-top: -44px;
  align-items: center;
}
.shipper .intro-info .title-container .title {
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: 300;
  font-size: 13px;
}
.shipper .intro-info .title-container .name {
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 20px;
  font-weight: 400;
}
.shipper .invoice-info {
  display: flex;
  margin-top: -18px;
  justify-content: center;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 100;
  font-size: 13px;
}
.shipper .invoice-info span {
  font-weight: 400;
}
.shipper .icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: 100;
  padding-bottom: 20px;
  font-size: 10px;
}
.shipper .icons-container .icon {
  text-align: center;
}
.shipper .btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.shipper .btn-container .btn {
  width: 50%;
  padding: 16px;
  text-align: center;
  border-radius: 35px;
}
.shipper .btn-container .msg-btn {
  margin-right: 10px;
  border: 1px solid #3B5998;
}
.shipper .btn-container .call-btn {
  margin-left: 10px;
  border: 1px solid #D63229;
}
.shipper .title-container {
  padding-bottom: 20px;
}
.shipper .title-container .sub-text {
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: 200;
  font-size: 14px;
}
.shipper .calculation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shipper .item-info-container {
  margin-bottom: 100px;
}
.shipper .item-info-container .item {
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: 100;
  font-size: 14px;
}
.shipper .item-info-container .item .count {
  margin-right: 20px;
  font-size: 13px;
  font-weight: 400;
}
/*-------------------------- View On Map Page End -------------------------*/
/*-------------------------- Single Page Restaurant Start -----------------*/
.facts-listing {
  margin-top: 15px;
}
.facts-listing .fact-item:not(:first-child) {
  margin-left: 15px;
}
.facts-listing .fact-item .main-text {
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 11px;
  font-weight: 300;
  color: #000000;
}
.menu-listing-container .menu-item {
  margin-top: 20px;
  border: 10px solid transparent;
  border-image: url(../icons/border.svg);
  border-image-repeat: repeat;
  border-image-slice: 13%;
  border-image-width: 20px;
  border-image-outset: 0px;
  padding: 5px 10px;
}
.menu-listing-container .menu-item.border-width-10 {
  border-image-width: 10px;
}
.menu-listing-container .menu-item .title {
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: 400;
  font-size: 14px;
}
.menu-listing-container .menu-item .description {
  font-size: 14px;
  font-weight: 100;
  line-height: 1.14;
  color: #000000;
  opacity: 0.6;
  margin-top: 17px;
  font-size: 11px;
}
.menu-listing-container .menu-item .description.margin-bottom {
  margin-bottom: 17px;
}
.menu-listing-container .menu-item .more {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-listing-container .menu-item .more .description {
  margin-top: 0px;
}
.menu-listing-container .menu-item .more .image {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.menu-listing-container .menu-item .more .image img {
  height: 80px;
  width: 80px;
}
.menu-listing-container .menu-item.row-view {
  display: flex;
}
.menu-listing-container .menu-item.row-view .rating {
  margin-top: -3px;
}
.menu-listing-container .menu-item.row-view .rating .fa-star {
  font-size: 7px;
}
.menu-listing-container .menu-item.row-view .title {
  font-size: 13px;
}
.menu-listing-container .menu-item.row-view .description {
  font-size: 12px;
}
.menu-listing-container .menu-item.row-view .price {
  font-weight: 900;
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 13px;
}
.menu-listing-container .menu-item.row-view .info-container {
  width: 100%;
  margin-left: 20px;
}
.menu-listing-container .menu-item.row-view .image {
  display: flex;
  align-items: center;
}
.menu-listing-container .menu-item.row-view .image img {
  max-width: 62px;
  max-height: 66px;
}
.single-product {
  height: 206px;
  width: 219px;
}
.product-description {
  border: 10px solid transparent;
  border-image: url(../icons/border.svg);
  border-image-repeat: repeat;
  border-image-slice: 13%;
  border-image-width: 20px;
  border-image-outset: 0px;
  padding: 5px 10px;
}
.product-description.border-width-10 {
  border-image-width: 10px;
}
.product-description:first-child {
  margin-top: 50px;
}
.product-description.margin-18 {
  margin-top: 18px;
}
.product-description .title {
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: 400;
  font-size: 25px;
}
.product-description .description {
  font-family: 'Roboto', sans-serif !important;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
}
.price-counter {
  margin-top: 18px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-counter .price {
  color: #C8171D;
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 25px;
  font-weight: 900;
}
.price-counter .counter {
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
}
.price-counter .counter .minus,
.price-counter .counter .plus {
  padding: 0px 5px;
  cursor: pointer;
}
.price-counter .counter .quantity {
  padding: 0px 5px;
}
/*-------------------------- Single Page Restaurant End -------------------*/
/**-------------------------- Owl Carousel Start --------------------------*/
.owl-lazy img {
  margin: 0 auto;
  display: flex;
}
/**-------------------------- Owl Carousel End --------------------------*/
/**-------------------------- Reusable Classes Start ---------------------*/
.line-height-1 {
  line-height: 1;
}
.line-height-20 {
  line-height: 20px;
}
.padding-0 {
  padding: 0!important;
}
.padding-left-20 {
  padding-left: 20px!important;
}
.margin-top-5 {
  margin-top: 5px !important;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-35 {
  margin-top: 35px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-60 {
  margin-top: 60px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-20 {
  margin-left: 20px;
}
.font-9 {
  font-size: 9px;
}
.font-10 {
  font-size: 10px;
}
.font-11 {
  font-size: 11px;
}
.font-12 {
  font-size: 12px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-16 {
  font-size: 16px;
}
.font-20 {
  font-size: 20px;
}
.font-weight-500 {
  font-weight: 500!important;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-100 {
  font-weight: 100;
}
.opacity-30 {
  opacity: 0.3;
}
.border-radius-7 {
  border-radius: 7px;
}
.border-50 {
  border-radius: 50%;
}
/**-------------------------- Reusable Classes End ---------------------*/
/*# sourceMappingURL=styles.css.map */